@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
  background:linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  overflow-x: hidden;
}
.wrapper {
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;
}