@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background: rgb(41 37 36 / 1);
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto Sans Bold";
  src: url("/fonts/NotoSans-Bold.ttf");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans Bold";
}
p {
  font-family: "Noto Sans";
}
.wrapper {
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;
}
